nav {
  background-color: #FFFFFF;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.16);
  min-height: 80px;
  font-family: 'Poppins', sans-serif;
  .navbar-brand.title {
    color: #000000;
    font-size: 20px;
    letter-spacing: 0.63px;
    line-height: 24px;
    text-align: left;
  }
  button {
    font-size: 16px;
    letter-spacing: 0.57px;
    line-height: 19px;
    text-align: center;
    padding: 12px 42px;
    &.btn-success {
        background-color:#71BC00;
        border-color:#71BC00;
        color: #FFFFFF;
    }
  }
}