<nav class="navbar navbar-expand-lg">

  <a class="navbar-brand title" href="#">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="32" height="32">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
    Información financiera
  </a>

  <button class="btn btn-success my-2 my-sm-0 ml-auto" type="submit">
    Guardar cambios
  </button>

</nav>

<router-outlet></router-outlet>
<app-financial-information></app-financial-information>