<div class="container">
  <div class="row">
    <div class="col pt-4 pb-5">
      <div class="card mx-auto">
        <div class="card-body">
          <h5 class="card-title my-4">Información financiera</h5>

          <div class="form-group">
            <label for="id-1">
              Aproximado de ventas anuales en toneladas
            </label>
            <input type="text" class="form-control" id="id-1">
            <small id="text-1" class="form-text text-muted invisible">Error</small>
          </div>

          <h6 class="card-subtitle my-2">Estatus en buró de crédito</h6>

          <div class="card-check mb-5">
            <label class="check-label">
              <input type="radio" checked="checked" name="radio">
              <span class="checkmark"></span>
              Bueno
            </label>
            <label class="check-label">
              <input type="radio" name="radio">
              <span class="checkmark"></span>
              Malo
            </label>
          </div>


          <h6 class="card-subtitle mb-2">Adjuntar comprobante de buró de crédito</h6>
          <h6 class="card-subtitle mb-3 text-muted">Formato .PDF</h6>

          <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="inputGroupFile01">
                <svg viewBox="0 0 16 16" class="bi bi-file-earmark-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
                  <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z"/>
                  <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                </svg>
                Subir archivo
              </label>
            </div>
          </div>

          
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="card-title-small m-0">Estados de cuenta</h5>
            <button class="btn btn-text" type="button" data-toggle="modal" data-target="#modal-add">
              Agregar
              <svg viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
            </button> 
          </div>

          <p class="card-text">
            Adjunte los últimos 4 meses de estados de cuenta
          </p>

          <div class="account-status">
            <div class="d-flex justify-content-between align-items-center">
              <p class="card-text m-0">
                Estado de cuenta junio 2020
              </p>
              <button class="btn btn-text">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </button> 
            </div>

            <h6 class="card-subtitle mb-2 text-muted">No. 1233</h6>

            <button type="button" class="btn btn-download my-2">
              <span icon>PDF</span>
              <span>Estado de c…julio2020.pdf</span>
            </button>
          </div>

          <div class="account-status">
            <div class="d-flex justify-content-between align-items-center">
              <p class="card-text m-0">
                Estado de cuenta junio 2020
              </p>
              <button class="btn btn-text">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </button> 
            </div>

            <h6 class="card-subtitle mb-2 text-muted">No. 1233</h6>

            <button type="button" class="btn btn-download my-2">
              <span icon>PDF</span>
              <span>Estado de c…julio2020.pdf</span>
            </button>
          </div>

          <div class="account-status">
            <div class="d-flex justify-content-between align-items-center">
              <p class="card-text m-0">
                Estado de cuenta junio 2020
              </p>
              <button class="btn btn-text">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </button> 
            </div>

            <h6 class="card-subtitle mb-2 text-muted">No. 1233</h6>

            <button type="button" class="btn btn-download my-2">
              <span icon>PDF</span>
              <span>Estado de c…julio2020.pdf</span>
            </button>
          </div>

        </div>
      </div>
    </div>  
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modal-add" tabindex="-1" aria-labelledby="modalAdd" aria-hidden="true">
  <div class="modal-dialog modal-lgs">
    <div class="modal-content px-4">
      <div class="modal-header m-0 pb-0">
        <button type="button" class="close pr-0" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-header m-0 pt-0">
        <h5 class="modal-title">
          Registrar estado de cuenta
        </h5>
      </div>
      <div class="modal-body">
        <div class="form-group m-0">
          <label for="id-2">
            Nombre de estado de cuenta
          </label>
          <input type="text" class="form-control" id="id-2">
          <small id="text-2" class="form-text text-muted invisible">Error</small>
        </div>
        <div class="form-group m-0">
          <label for="id-3">
            Número
          </label>
          <input type="text" class="form-control" id="id-3">
          <small id="text-3" class="form-text text-muted invisible">Error</small>
        </div>

        <h6 class="modal-subtitle">
          Adjuntar archivo de la certificación
        </h6>

        <h6 class="modal-subtitle mb-3 text-muted">Formato .PDF</h6>

        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">
              <svg viewBox="0 0 16 16" class="bi bi-file-earmark-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
                <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z"/>
                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
              </svg>
              Subir archivo
            </label>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-success my-2 my-sm-0 ml-auto" type="submit">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>

</div>