@mixin form-group {
  label {
    color: #666666;
    font-family: Poppins;
    font-size: 12px;
    letter-spacing: 0.38px;
    line-height: 14px;
    text-align: left;
    background-color: white;
    transform: translateX(1rem);
    padding: 0 0.2rem
  }
  input {
    margin-top: -1rem;
    height: 48px;
    border-radius: 6px
  }
}

@mixin custom-file {
  .custom-file {
    min-height: 100px;
    label {
      background-color: rgba(221, 240, 194, 0.08);
      border: 2px dashed #DEDEDE;
      border-radius: 6px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #71BC00;
      font-size: 14px;
      letter-spacing: 0.44px;
      font-weight: 500;
      cursor: pointer;
      z-index: 3;
      &:hover {
        opacity: 0.8
      }

      svg {
        height: 24px;
        margin-bottom: 0.6rem
      }

      &:after {
        display: none
      }
    }
  }
}

.card {
  background-color: #FFFFFF;
  border-radius: 5px;
  width: 544px;
  border: 0;
  font-family: 'Poppins', sans-serif;
  @media (max-width: 525px) {
    width: 100%;
  }

  .card-title {
    color: #000000;
    font-size: 28px;
    letter-spacing: 0.88px;
    line-height: 39px;
    text-align: left;
    font-weight: bold;
  }

  .card-title-small {
    color: #000000;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 23px;
    text-align: left;
    font-weight: bold;
  }

  .card-subtitle {
    color: #000000;
    font-size: 16px;
    letter-spacing: 0.57px;
    line-height: 20px;
    text-align: left;
    &.text-muted {
      color: #666666 !important;
      font-size: 14px;
      letter-spacing: 0.5px;
      line-height: 17.71px;
    }
  }

  .card-text {
    color: #000000;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 23px;
    text-align: left;
    font-weight: 400;
  }

  .form-group {
    @include form-group;
  }

  .input-group {
    @include custom-file;
  }

  .card-check {
    label.check-label {
      position: relative;
      padding: 0 2rem;
      color: #000000;
      font-size: 16px;
      letter-spacing: 0.57px;
      line-height: 25px;
      text-align: left;
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: white;
        border-radius: 50%;
        border: 2px solid #666666;

        &:after {
          content: "";
          position: absolute;
          display: none;
        }
      }

      &:hover input ~ .checkmark {
        background-color: #ccc;
      }
      & input:checked ~ .checkmark {
        background-color: #71BC00;
        border: 3px solid #71BC00;
        &:after {
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background: #71BC00;
          border: 4px solid white;
        }
      }
    }
  }

  button.btn-text {
    color: #000000;
    font-family: Poppins;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 23px;
    font-weight: 500;

    svg {
      margin-left: 0.5rem;
      height: 24px;
      width: 24px
    }
  }

  .account-status {
    padding: 1rem 0;
    .card-text {
      color: #292929;
    }
    svg {
      color: #292929;
    }
    button.btn-download {
      background-color: #FFFFFF;
      border: 1px solid #E5E5E5;
      border-radius: 8px;
      height: 40px;
      position: relative;

      &:hover {
        opacity: 0.8
      }

      span[icon] {
        background-color: #FF7979;
        border: 1px solid #FF7979;
        border-radius: 6px;
        width: 36px;
        line-height: 32px;
        font-weight: bold;
        display: inline-block;
        color: white;
        position: absolute;
        top: 2px;
        left: 2px;
      }
      span:last-child {
        margin-left: 3rem;
        color: #666666;
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 20px;
      }
    }

    &:not(:last-child) {
      box-shadow: 0 1px 0 0 #EAEAEA;
    }
  }
}

.modal-content {
  border-radius: 20px;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.2);
  max-width: 578px !important;

  .modal-header {
    border-bottom: 0;
    * {
        color: #000000;
        font-family: Poppins;
        font-size: 30px; // font-size: 40px;
        letter-spacing: 1.25px;
        line-height: 56px;
        text-align: left;
        font-weight: bold;
    }

    button.close span{
      background-color: #E9E9E9;
      border-radius: 50%;
      height: 32px;
      width: 32px;
      display: block;
      line-height: 35px;
      text-align: center;
      padding: 0;
      margin: 0;
    }
  }

  .form-group {
    @include form-group;
  }

  .input-group {
    @include custom-file;
  }

  .modal-subtitle{
    color: #000000;
    font-size: 16px;
    letter-spacing: 0.57px;
    line-height: 20px;
    text-align: left;
    &.text-muted {
      color: #666666 !important;
      font-size: 14px;
      letter-spacing: 0.5px;
      line-height: 17.71px;
    }
  }

  .modal-footer{
    border: 0;
    button {
    font-size: 16px;
    letter-spacing: 0.57px;
    line-height: 19px;
    text-align: center;
    padding: 12px 42px;
      &.btn-success {
        background-color:#71BC00;
        border-color:#71BC00;
        color: #FFFFFF;
      }
    }
  }
}